" {{ ansible_managed }}

execute pathogen#infect()

syntax on
filetype plugin indent on

" ----------------------------------------------------------------------------
" UI (-ish)
" ----------------------------------------------------------------------------
set showcmd                " Show (partial) command in status line.
set showmatch              " Show matching brackets.
set ignorecase             " Do case insensitive matching
set smartcase              " Do smart case matching
set incsearch              " Incremental search
set autowrite              " Automatically save before commands like :next and :make
set bs=2                   " Allow backspacing over everything in insert mode
set ai                     " Always set auto-indenting on
set history=50             " keep 50 lines of command history
set ruler                  " Show the cursor position all the time
set laststatus=2           " show statusline (with filename)
set clipboard+=unnamedplus " enable clipboard
set mouse=""               " disable mouse

" Use <C-l> to clear the highlighting of :set hlsearch.
if maparg('<C-l>', 'n') ==# ''
  nnoremap <silent> <C-l> :nohlsearch<CR><C-l>
endif

" ----------------------------------------------------------------------------
" Formatting
" ----------------------------------------------------------------------------
set nocompatible        " Use Vim defaults (over Vi defaults)
set fo=tcq              " turn off auto adding comments on next line

" Ensure UTF-8 Encoding
set encoding=utf-8
set fileencoding=utf-8

" Handle indentation
set tabstop={{ vim_indentation }}
set softtabstop={{ vim_indentation }}
set shiftwidth={{ vim_indentation }}

" ----------------------------------------------------------------------------
" Colors
" ----------------------------------------------------------------------------
set t_Co=256

colorscheme vividchalk
set bg=dark
highlight LiteralTabs ctermbg=darkgreen guibg=darkgreen
match LiteralTabs /\s\  /
highlight ExtraWhitespace ctermbg=darkgreen guibg=darkgreen
match ExtraWhitespace /\s\+$/

" ---------------------------------------------------------------------------
" File Types
" ---------------------------------------------------------------------------
au BufRead,BufNewFile *.go         set ft=go
au BufRead,BufNewFile *.god        set ft=ruby
au BufRead,BufNewFile *.haml       set ft=haml
au BufRead,BufNewFile *.json       set ft=json syntax=javascript
au BufRead,BufNewFile *.markdown   set ft=markdown
au BufRead,BufNewFile *.md         set ft=markdown
au BufRead,BufNewFile *.mustache   set ft=mustache
au BufRead,BufNewFile *.rl         set ft=ragel
au BufRead,BufNewFile *.ronn       set ft=markdown
au BufRead,BufNewFile *.rpdf       set ft=ruby
au BufRead,BufNewFile *.rtxt       set ft=html
au BufRead,BufNewFile *.ru         set ft=ruby
au BufRead,BufNewFile *.rxls       set ft=ruby
au BufRead,BufNewFile *.sql        set ft=pgsql
au BufRead,BufNewFile *.svg        set ft=svg
au BufRead,BufNewFile *.tex        set ft=tex

au Filetype gitcommit setlocal tw=68 spell
au FileType go        setlocal ts=4 sw=4 sts=0 noexpandtab
au FileType html      setlocal spell
au Filetype json      setlocal syntax=javascript
au Filetype markdown  setlocal tw=80 ts=2 sw=2 spell
au Filetype ruby      setlocal tw=80 ts=2 sw=2 sts=0
au FileType tex       setlocal sw=2 ts=2 iskeyword+=: spell
au FileType make      setlocal modelines=0 noexpandtab

" ----------------------------------------------------------------------------
" Other
" ----------------------------------------------------------------------------

" Manpage support
let $PAGER=''

" vim:set ft=vim et sw=2 sts=2
