# {{ ansible_managed }}

[user]
  email = {{ git_email }}
  name = {{ git_username }}
[push]
  default = simple
[pull]
  rebase = true
[fetch]
  prune = true
[rebase]
  autoStash = true
{% if git_has_ghq %}
[ghq]
{% for dir in git_ghq_dirs %}
  root = {{ dir }}
{% endfor %}
{% endif %}
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
